{% extends 'RDC_App/base.html' %}

{% block contenido %}
    
    <!-- Form -->

    <div>
        <center><form>
            <b><p>{{ formulario.as_p }}</p></b>
                <input type="submit" value="Buscar" class="btn btn-primary">
                <a href="/productos/inicio"><input type="button" value="Volver" class="btn btn-primary" /></a>
        </form></center>
    </div>
    
    {% for bebida in vinos %}

    <div class="col mb-5">
        <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top" src="https://www.bodega-privada.com/10365/colome-estate-malbec.jpg" alt="..." />
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">{{bebida.nombre}}</h5>
                    <!-- Product price-->
                    <p>${{bebida.precio}}</p>

                    {% if bebida.stock > number %}
                        <b><p style="color:green">Stock: {{bebida.stock}}</p></b>
                    {% else %}
                        <b><p style="color:red">Stock: {{bebida.stock}}</p></b>
                    {% endif %}
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/productos/reseña">Reseña</a></div>
            </div>
        </div>
    </div>

    {% endfor %}

{% endblock  %}